<div class="background d-flex flex-column align-items-center justify-content-center">
  <div class="card">
    <!--      TODO Profilbild hochladen-->
    <h1>Registrierung</h1>
    <div class="d-flex flex-column mt-3 mb-2">
      <label for="nutzername">Nutzername</label>
      <input id="nutzername" type="text" [(ngModel)]="username" />
    </div>
    <div class="d-flex flex-row justify-content-between gap-3">
      <div class="d-flex flex-column mb-3 w-75">
        <label for="passwort">Passwort</label>
        <input id="passwort" type="password" [(ngModel)]="password" />
      </div>
      <div class="d-flex flex-column mb-3 w-75">
        <label for="passwortWiederholen">Passwort wiederholen</label>
        <input id="passwortWiederholen" type="password" [(ngModel)]="password" />
      </div>
    </div>
    <button class="btn btn-primary mb-2" [routerLink]="'/' + EAppPaths.Contacts">
      Registrieren
    </button>
    <span>Account bereits vorhanden? <a [routerLink]="'/' + EAppPaths.Login">Anmelden</a></span>
  </div>
</div>
