<div class="container d-flex flex-column align-items-center">
  <h1>Registrierung</h1>
  <div class="d-flex flex-column mt-3 mb-2">
    <label for="nutzername">Nutzername</label>
    <input id="nutzername" type="text" [(ngModel)]="username" />
  </div>
  <div class="d-flex flex-column mb-3">
    <label for="passwort">Passwort</label>
    <input id="passwort" type="password" [(ngModel)]="password" />
  </div>
  <button class="btn btn-primary" [routerLink]="'/' + EAppPaths.Contacts">Registrieren</button>
</div>
