app-chat-screen {
  .message-time {
    font-size: 0.8rem;
    font-weight: 5;
  }

  .message {
    position: relative;
    width: 45%;
    padding: var(--space-md);
  }

  .message.message-received {
    left: 0;
  }

  .message.message-sent {
    left: 50%;
  }
}
